@model SelectReservationViewModel
@{
    ViewData["Title"] = "Reservations";

    var firstReservationId = Model.AvailableReservations.FirstOrDefault()?.ReservationId;
    var hashedAccountId = Context.Request.RouteValues[RouteValueKeys.HashedAccountId];

    var customErrorKeys = new Dictionary<string, string> { { "SelectedReservationId", $"SelectedReservationId-{firstReservationId}" } };

    ViewData["CustomErrorKeys"] = customErrorKeys;

    if (Configuration["AuthType"].Equals("employer", StringComparison.CurrentCultureIgnoreCase))
    {
        ViewBag.GaData.Vpv = "/accounts/reservations/select";
    }
    else
    {
        ViewBag.GaData.Vpv = "/reservations/select";
    }
}

<a href="@Model.BackLink" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="_PageErrorsOverview" />
            
            @if (!Model.MoreReservationsAvailable)
            {
                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Important
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <div class="govuk-notification-banner__heading">
                            You cannot create a new funding reservation
                        </div>
                        <p>
                            You can edit the course and start date of an existing reservation. or delete the draft apprentices using a reservation in
                            <a asp-external-controller="unapproved" class="govuk-link" asp-external-subdomain="approvals" asp-external-id="@ViewContext.RouteData.Values["employerAccountId"]">Apprentice requests</a>.
                        </p>
                    </div>
                </div>
            }

            <h1 class="govuk-heading-l">Select a Reservation</h1>

            <p class="govuk-body">These are your existing reservations.</p>
            <p class="govuk-body">You can add multiple reservations, but you'll need to do this one at a time.</p>
            <p class="govuk-body">If you cannot find the reservation you need, you can <a asp-route="@RouteNames.EmployerManage" class="govuk-link" asp-route-employerAccountId="@hashedAccountId" target="_blank">manage your reservations</a></p>
            <p class="govuk-body">If your apprentice's course or level has changed since you reserved funds, you can change this when you add apprentice details.</p>
           

            <form method="post">
                <input asp-for="CohortReference" type="hidden" />
                <input asp-for="AccountId" type="hidden" />
                <input asp-for="TransferSenderId" type="hidden"/>
                <input asp-for="ProviderId" type="hidden"/>
                <input asp-for="JourneyData" type="hidden"/>
                <input asp-for="ApprenticeshipSessionKey" type="hidden"/>
                <h1 class="govuk-heading-m">Which reservation would you like to select?</h1>
                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">                    
                        @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("SelectedReservationId"))
                        {
                            <span id="confirm-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState["SelectedReservationId"].Errors.First().ErrorMessage
                            </span>
                        }
                        <div class="govuk-radios">
                            @foreach (var availableReservation in Model.AvailableReservations)
                            {
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="SelectedReservationId-@availableReservation.ReservationId" name="SelectedReservationId" type="radio" value="@availableReservation.ReservationId">
                                    <label class="govuk-label govuk-radios__label" for="SelectedReservationId-@availableReservation.ReservationId">
                                        <b>@availableReservation.CourseDescription</b>
                                    </label>
                                    <span class="govuk-hint govuk-radios__hint">
                                        Starting between @availableReservation.TrainingDateDescription                                    
                                    </span>
                                </div>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.CohortReference) && Model.MoreReservationsAvailable)
                            {
                                <div class="govuk-radios__divider">or</div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="CreateNew" name="SelectedReservationId" type="radio" value="@Guid.Empty.ToString().Replace("0", "9")">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="CreateNew">
                                        Reserve new funding
                                    </label>
                                    <span class="govuk-hint govuk-radios__hint">
                                        Continue adding apprentice details
                                    </span>
                                </div>
                            }
                        </div>
                    </fieldset>
                </div>
                <button type="submit" draggable="false" class="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>