@using System.Text
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ApprenticeshipTrainingViewModel
@{
    ViewData["Title"] = "Reservations - Apprenticeship training";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        @if (!ViewData.ModelState.IsValid)
        {
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        @{
                            var errorStringBuilder = new StringBuilder();
                            var errorCount = ViewData.ModelState.ErrorCount;
                            var loopCount = 1;


                            var firstStartDate = Model.PossibleStartDates.FirstOrDefault().Id;
                            foreach (var error in ViewData.ModelState)
                            {
                                if (error.Value.ValidationState == ModelValidationState.Invalid)
                                {
                                    var errorKey = $"{error.Key}";
                                    if (error.Key.Equals("StartDate"))
                                    {
                                        errorKey = $"start-date-{firstStartDate}";
                                    }

                                    errorStringBuilder.Append($"<li><a href=\"#{errorKey}\">{error.Value.Errors.First().ErrorMessage}</a></li>");
                                    
                                    if (loopCount == errorCount - 1)
                                    {
                                        errorStringBuilder.Append(" and ");
                                    }
                                    else if (loopCount != errorCount)
                                    {
                                        errorStringBuilder.Append(", ");
                                    }

                                    loopCount++;
                                }
                            }
                            }
                        @Html.Raw(errorStringBuilder.ToString())
                    </ul>
                </div>
            </div>
        }

        @if (Model.IsProvider)
        {
            <h1 class="govuk-heading-xl">Apprenticeship training</h1>
        }
        else
        {
            <h1 class="govuk-heading-xl">When will the apprentice start their off-the-job training?</h1>
        }

        <form method="post" asp-route="@Model.RouteName" class="validate-auto-complete">
            @if (Model.IsProvider)
            {
            <h2 class="govuk-heading-m">Which apprenticeship training will the apprentice take? (optional)</h2>
            <div class="govuk-form-group">

                <label class="govuk-label" for="course-search">
                    Search for a course
                </label>
                <partial name="_CourseSearch" />
                <span id="choose-apprenticeship-hint" class="govuk-hint govuk-!-margin-top-4">
                    This information can be changed later.
                </span>
            </div>
            }
            <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
                <fieldset class="govuk-fieldset">
                    @if (Model.IsProvider)
                    {
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                When will the apprenticeship training start?
                            </h2>
                        </legend>
                        <span id="choose-start-date-hint" class="govuk-hint">
                            The apprenticeship training can start anytime in the month you choose or the following 2 months. For example if you select January, the apprenticeship training can start anytime from January to March.
                        </span>
                    }
                    else
                    {
                        <span id="choose-start-date-hint" class="govuk-hint">
                            The apprentice can start their off-the-job training anytime in the month you choose, or the following 2 months. For example if you select January, the apprentice can start their off-the-job training anytime from January to March.
                        </span>
                    }
                    
                    @if (ViewData.ModelState.ContainsKey("StartDate"))
                    {
                        <span id="StartDate" class="govuk-error-message">
                            @ViewData.ModelState["StartDate"].Errors.First().ErrorMessage
                        </span>
                    }

                    <div class="govuk-radios">
                        @foreach (var possibleStartDate in Model.PossibleStartDates)
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="start-date-@possibleStartDate.Id" name="StartDate" type="radio" value="@possibleStartDate.Value" checked="@possibleStartDate.Checked">
                                <label class="govuk-label govuk-radios__label" for="start-date-@possibleStartDate.Id">
                                    @possibleStartDate.Label
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        I want a later start date
                    </span>
                </summary>
                @if (Model.IsProvider)
                {
                    <div class="govuk-details__text">
                        You can secure funding no more than 6 months in advance of the apprenticeship training start date. If you want to secure funding for a later date, come back later.
                    </div>
                }
                else
                {
                    <div class="govuk-details__text">
                        You are securing funding for a non-levy employer to take on an apprentice. This will be paid directly to the training provider, who the employer will confirm at a later date.
                    </div>
                }
            </details>
            <button type="submit" class="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>