@using System.Text
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ApprenticeshipTrainingViewModel
@{
    ViewData["Title"] = "Reservations - Apprenticeship training";

    var firstStartDate = Model.PossibleStartDates.FirstOrDefault()?.Id;

    var customErrorKeys = new Dictionary<string, string> {{"StartDate", $"StartDate-{firstStartDate}"}};

    ViewData["CustomErrorKeys"] = customErrorKeys;
}

@if (!string.IsNullOrEmpty(Model.BackLink))
{
    <a asp-route="@Model.BackLink" class="govuk-back-link">Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
        <partial name="_PageErrorsOverview"/>

        @if (Model.IsProvider)
        {
            <h1 class="govuk-heading-xl">Apprenticeship training</h1>
        }
        else
        {
            <h1 class="govuk-heading-xl">When will the apprentice start their off-the-job training?</h1>
        }

        <form method="post" asp-route="@Model.RouteName" class="validate-auto-complete">
            @if (Model.IsProvider)
            {
            <h2 class="govuk-heading-m">Which apprenticeship training will the apprentice take? (optional)</h2>
            <div class="govuk-form-group">

                <label class="govuk-label" for="course-search">
                    Search for a course
                </label>
                <partial name="_CourseSearch" />
                <span id="choose-apprenticeship-hint" class="govuk-hint govuk-!-margin-top-4">
                    This information can be changed later.
                </span>
            </div>
            }
            <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
                <fieldset class="govuk-fieldset">
                    @if (Model.IsProvider)
                    {
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                When will the apprenticeship training start?
                            </h2>
                        </legend>
                        <span id="choose-start-date-hint" class="govuk-hint">
                            The apprenticeship training can start anytime in the month you choose or the following 2 months. For example if you select January, the apprenticeship training can start anytime from January to March.
                        </span>
                    }
                    else
                    {
                        <span id="choose-start-date-hint" class="govuk-hint">
                            The apprentice can start their off-the-job training anytime in the month you choose, or the following 2 months. For example if you select January, the apprentice can start their off-the-job training anytime from January to March.
                        </span>
                    }
                    
                    @if (ViewData.ModelState.ContainsKey("StartDate"))
                    {
                        <span id="StartDate" class="govuk-error-message">
                            @ViewData.ModelState["StartDate"].Errors.First().ErrorMessage
                        </span>
                    }

                    <div class="govuk-radios">
                        @foreach (var possibleStartDate in Model.PossibleStartDates)
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="StartDate-@possibleStartDate.Id" name="StartDate" type="radio" value="@possibleStartDate.Value" checked="@possibleStartDate.Checked">
                                <label class="govuk-label govuk-radios__label" for="training-start-date-@possibleStartDate.Id">
                                    @possibleStartDate.Label
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        I want a later start date
                    </span>
                </summary>
                @if (Model.IsProvider)
                {
                    <div class="govuk-details__text">
                        You can secure funding no more than 6 months in advance of the apprenticeship training start date. If you want to secure funding for a later date, come back later.
                    </div>
                }
                else
                {
                    <div class="govuk-details__text">
                        You are securing funding for a non-levy employer to take on an apprentice. This will be paid directly to the training provider, who the employer will confirm at a later date.
                    </div>
                }
            </details>
            <button type="submit" class="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>
</main>