@using SFA.DAS.Reservations.Web.Extensions
@model ReviewViewModel
@{
    ViewData["Title"] = "Check your reservation information";

    ViewBag.GaData.Vpv = "/accounts/reservations/review";

    var employerAccountId = (string)ViewContext.RouteData.Values["employerAccountId"];
    var reservationId = (string)ViewContext.RouteData.Values["id"];
}

@if (!string.IsNullOrEmpty(Model.BackLink))
{
    <a asp-route="@Model.BackLink" asp-route-employerAccountId="@employerAccountId" asp-route-id="@reservationId" class="govuk-back-link">Back</a>
}
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <partial name="_PageErrorsOverview"/>
            
            <h1 class="das-notification das-notification--success govuk-heading-xl ">Apprenticeship funding is available to train and assess your apprentice</h1>

            <div class="govuk-summary-list">

                <dl class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Employer
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.AccountLegalEntityName
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="">
                        </a>
                    </dd>
                </dl>

                <dl class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Apprenticeship training start date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.TrainingDate.GetGDSDateString()
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" asp-route="@Model.ChangeStartDateRouteName" asp-route-employerAccountId="@employerAccountId" asp-route-id="@reservationId" asp-route-fromReview="true">
                            Change
                        </a>

                    </dd>
                </dl>

                <dl class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Apprenticeship training course
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.CourseDescription
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" asp-route="@Model.ChangeCourseRouteName" asp-route-employerAccountId="@employerAccountId" asp-route-id="@reservationId" asp-route-fromReview="true">
                            Change
                        </a>
                    </dd>
                </dl>
            </div>
            @if (Model.ApprenticeshipType == "FoundationApprenticeship")
            {
                <div class="govuk-inset-text">
                    You’ve selected a foundation apprenticeship. Check
                    <a target="_blank" class="govuk-link" href=" https://assets.publishing.service.gov.uk/media/682471b57293a87b6c75ebe0/Apprenticeship_funding_rules_2025_to_2026.pdf">
                        who is eligible for funding for a foundation apprenticeship in the funding rules
                    </a> before you continue. Foundation apprenticeships must start on or after 1 August 2025
                </div>
            }
            <form method="post" asp-route="@Model.ConfirmRouteName" asp-antiforgery="true">
                <input type="hidden" asp-for="TrainingDate.StartDate"/>
                <input type="hidden" asp-for="TrainingDate.EndDate"/>
                <input type="hidden" asp-for="AccountLegalEntityName"/>
                <input type="hidden" asp-for="AccountLegalEntityPublicHashedId"/>
                <input type="hidden" asp-for="CourseDescription"/>
                
                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Do you want to reserve funding now?
                        </legend>
                        @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("Reserve"))
                        {
                            <span id="confirm-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState["Reserve"].Errors.First().ErrorMessage
                            </span>
                        }
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="Reserve" name="Reserve" type="radio" value="True">
                                <label class="govuk-label govuk-radios__label" for="Reserve">
                                    Yes, reserve funding now
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="Reserve-no" name="Reserve" type="radio" value="False">
                                <label class="govuk-label govuk-radios__label" for="Reserve-no">
                                    No, return to account
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button type="submit" draggable="false" class="govuk-button">
                    Confirm
                </button>
            </form>
        </div>
    </div>
</main>