@model CompletedViewModel
@using SFA.DAS.Reservations.Infrastructure.Configuration;
@{
    ViewData["Title"] = "Funding reserved";

    ViewBag.GaData.Vpv = "/accounts/reservations/completed";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="_PageErrorsOverview" />
            
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    You have reserved funding for training
                </h1>
            </div>
            <div class="govuk-summary-list">
                <dl class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Employer
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.AccountLegalEntityName
                    </dd>
                </dl>
                <dl class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Start date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.TrainingDateDescription
                    </dd>
                </dl>
                <dl class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Training Course
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.CourseDescription
                    </dd>
                </dl>
            </div>

            <h2 class="govuk-heading-l">
                Making changes
            </h2>

            <p>
                You can add or change the training course when you add a learner's details.
            </p>

            <p>
                You will need to reserve new funding to change the training start date to outside of the 3-month window you originally selected.
            </p>

            <h2 class="govuk-heading-l">
                What you can do next
            </h2>
            <p>
                <a href="@Model.RecruitUrl">Recruit an apprentice</a>
            </p>

            <p>
                <a href="@Model.FindApprenticeshipTrainingUrl">Find a training provider</a>
            </p>

            <p>
                <a href="@Model.AddAnApprenticeUrl">Add learner</a>
            </p>

            <p>
                <a href="@Model.HomepageUrl">Go to homepage</a>
            </p>             
            
        </div>
    </div>
</main>