@using SFA.DAS.Reservations.Web.Extensions
@model ReviewViewModel
@{
    ViewData["Title"] = "Check your reservation information";
    var changeRouteData = (new Dictionary<string, string> {{ "fromReview", "true" }} );

    ViewBag.GaData.Vpv = "/reservations/review";

    var ukPrn = (string)ViewContext.RouteData.Values["ukPrn"];
    var reservationId = (string)ViewContext.RouteData.Values["id"];
}

@if (!string.IsNullOrEmpty(Model.BackLink))
{
    <a id="back-link" class="govuk-back-link"
       href="@Url.RouteUrl(Model.BackLink, new
       {
           ukPrn,
           id = reservationId,
           Model.RouteModel.PublicHashedEmployerAccountId
       })">
        Back
    </a>
}


<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Check your reservation</h1>

            <p>
                You are reserving funding for a non-levy employer to take on an apprentice. <br />
            </p>

            <div class="govuk-summary-list">

                <dl class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Employer
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.AccountLegalEntityName
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="">
                        </a>
                    </dd>
                </dl>

                <dl class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Apprenticeship training start date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.TrainingDate.GetGDSDateString()
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" asp-route="@Model.ChangeStartDateRouteName" asp-route-ukPrn="@ukPrn" asp-route-id="@reservationId">
                            Change
                        </a>
                    </dd>
                </dl>

                <dl class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Apprenticeship training
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.CourseDescription
                        <br />
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    Can I change the course?
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                You can change the course when adding an apprentice's details.
                            </div>
                        </details>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" asp-route="@Model.ChangeCourseRouteName" asp-route-ukPrn="@ukPrn" asp-route-id="@reservationId">
                            Change
                        </a>
                    </dd>
                </dl>
            </div>

            <form method="post" asp-route="@Model.ConfirmRouteName">
                <button type="submit" draggable="false" class="govuk-button">
                    Confirm
                </button>

                <div class="govuk-body">
                    <a href="@Url.RouteUrl(Model.BackLink, new
                       {
                           ukPrn,
                           id = reservationId,
                           Model.RouteModel.PublicHashedEmployerAccountId
                       })" class="govuk-link"
                       id="cancel-request-link">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</main>