@using System.Text
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SFA.DAS.Reservations.Web.Extensions
@using SFA.DAS.Reservations.Web.Infrastructure
@model CompletedViewModel
@{
    ViewData["Title"] = "Funding reserved";

    ViewBag.GaData.Vpv = "/reservations/completed";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="_PageErrorsOverview"/>
            
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    You have successfully reserved funding for apprenticeship training
                </h1>
            </div>
            <div class="govuk-summary-list">
                <dl class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Employer
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.AccountLegalEntityName
                    </dd>
                </dl>
                <dl class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Apprenticeship start date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.TrainingDateDescription
                    </dd>
                </dl>
                <dl class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Apprenticeship training
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.CourseDescription
                    </dd>
                </dl>
            </div>

            <h2 class="govuk-heading-l">
                Making changes
            </h2>

            <p>
                You can change the apprenticeship training course when you add an apprentice.
            </p>

            <p>
                You cannot change:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>
                    the employer
                </li>
                <li>
                    the apprenticeship start date, outside of the 3 month window you selected
                </li>
            </ul>
            <p>
                To select a different employer or apprenticeship training start date, you will need to start a new funding reservation.
            </p>

            <form method="post" asp-route="@RouteNames.ProviderCompleted">

                <input type="hidden" name="AccountLegalEntityName" value="@Model.AccountLegalEntityName" />
                <input type="hidden" name="TrainingDateDescription" value="@Model.TrainingDateDescription" />
                <input type="hidden" name="CourseDescription" value="@Model.CourseDescription" />
                <input type="hidden" name="StartDate" value="@Model.StartDate" />
                <input type="hidden" name="CourseId" value="@Model.CourseId" />
                <input type="hidden" name="UkPrn" value="@Model.UkPrn" />
                <input type="hidden" name="CohortRef" value="@Model.CohortRef" />

                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            What's next?
                        </legend>
                        @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("WhatsNext"))
                        {
                            <span id="confirm-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState["WhatsNext"].Errors.First().ErrorMessage
                            </span>
                        }
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="WhatsNext" name="WhatsNext" type="radio" value="@CompletedReservationWhatsNext.RecruitAnApprentice">
                                <label class="govuk-label govuk-radios__label" for="WhatsNext">
                                    Recruit an apprentice
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="WhatsNext-add" name="WhatsNext" type="radio" value="@CompletedReservationWhatsNext.AddAnApprentice">
                                <label class="govuk-label govuk-radios__label" for="WhatsNext-add">
                                    Add apprentice's details
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="WhatsNext-home" name="WhatsNext" type="radio" value="@CompletedReservationWhatsNext.Homepage">
                                <label class="govuk-label govuk-radios__label" for="WhatsNext-home">
                                    Go to homepage
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <p>

                    <button type="submit" draggable="false" class="govuk-button">
                        Continue
                    </button>

                </p>
            </form>
            
        </div>
    </div>
</main>