@using SFA.DAS.Employer.Shared.UI.Models
@inject IConfiguration Configuration
@{
    var tagManagerCode = "GTM-KWQBWGJ"; // Employer GTM code
    var accountId = ViewContext.RouteData.Values["employerAccountId"]?.ToString();
    var cookieBannerModel = new CookieBannerModel { AccountId = accountId };
    var footerModel = new FooterModel { AccountId = accountId, UsePrivacyV2 = true };
}
<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded">

<head>
    <meta charset="utf-8" />
    <title>@(ViewData["Title"] ?? "GOV.UK - The best place to find government services and information")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="theme-color" content="#1d70b8" />
    <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico" />
    <link rel="icon" sizes="any" href="/assets/rebrand/images/favicon.svg" type="image/svg+xml" />
    <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="#1d70b8" />
    <link rel="apple-touch-icon" href="/assets/rebrand/images/govuk-icon-180.png" />
    <link href="/css/main.css" rel="stylesheet" />

    <link href="/css/app.css" rel="stylesheet" no-cdn />
    <link href="css/main.css" rel="stylesheet" />

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '@tagManagerCode');
    </script>
    <!-- End Google Tag Manager -->
    @await Html.PartialAsync("GoogleAnalyticsInfo")
</head>

<body class="govuk-template__body ">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=@tagManagerCode" height="0" width="0"
            style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script>
        document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <partial name="_CookieBanner" model="@cookieBannerModel" />

    <partial name="_Header" model="@accountId" />
    <partial name="_ZenDeskWidget" />

    <div class="govuk-width-container">
        @RenderBody()
    </div>

    <partial name="_Footer" model="@footerModel" />
    <script type="module" src="/libs/govuk-frontend/govuk-frontend.min.js"></script>
    <script type="module" nws-csp-add-nonce="true">
        import {
            initAll
        } from '@Configuration["cdn:url"]/libs/govuk-frontend/govuk-frontend.min.js'
        initAll()
    </script>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="js/das-all.js"></script>
    <script src="libs/accessible-autocomplete/accessible-autocomplete.min.js"></script>
    <script src="js/app.min.js"></script>
    <script src="/js/app.js" no-cdn></script>
    <script src="/js/autocomplete.js" no-cdn></script>
    @if (User.Identity is { IsAuthenticated: true })
    {
        <script src="/js/sessionTimeout.js" asp-append-version="true"></script>
    }
    <script>
        window.DASFrontend.initAll();
    </script>

</body>

</html>