@using SFA.DAS.Reservations.Web.Infrastructure
@model FundingRestrictionNotificationViewModel

@{
    ViewData["Title"] = "Upcoming change to government-funded training";

    if (Model.IsProvider)
    {
        ViewBag.GaData.Vpv = "/reservations/fundingrestrictionnotification";
    }
    else
    {
        ViewBag.GaData.Vpv = "/accounts/reservations/fundingrestrictionnotification";
    }
}

@if (!string.IsNullOrEmpty(Model.BackLink))
{
    <a href="@Model.BackLink" class="govuk-back-link">Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="das-panel das-panel--featured">
                <h1 class="das-panel__heading">
                    Upcoming change to government-funded training
                </h1>
                @if (Model.IsProvider)
                {
                    <p>
                        Government funding for apprenticeship training will be paused
                        on @Model.RestrictionStartDate.ToString("d MMMM yyyy"). 
                        You must reserve funding for your non-levy employers' training before this date.
                    </p>
                }
                else
                {
                    <p>
                        Government funding for apprenticeship training will be paused 
                        on @Model.RestrictionStartDate.ToString("d MMMM yyyy").
                        You must reserve funding for your training before this date.
                    </p>
                }
                <p>
                    This change will not affect funding reserved before @Model.RestrictionStartDate.ToString("d MMMM yyyy")
                </p>
                
                <form method="post" asp-route="@Model.PostRouteName">
                    <input asp-for="RuleId" type="hidden" />
                    <input asp-for="TypeOfRule" type="hidden" />
                    <input asp-for="RouteName" type="hidden" />
                    <button type="submit" class="govuk-button das-button--inverted das-panel__button">
                        Continue
                    </button>

                    <p>
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input type="checkbox" class="govuk-checkboxes__input" id="markAsReadCheckbox" name="markRuleAsRead" value="true" />
                                <label class="govuk-checkboxes__label" for="markAsReadCheckbox">Do not show this message again</label>
                            </div>
                        </div>
                    </p>
                </form>
            </div>
        </div>
    </div>
</main>
