@using SFA.DAS.Reservations.Web.Extensions
@using SFA.DAS.Reservations.Web.Infrastructure
@model ManageViewModel
@{
    ViewData["Title"] = "Manage existing funding reservations or create new reservations";
}


@if (Model.FilterModel.NumberOfRecordsFound == 0 && string.IsNullOrEmpty(Model.FilterModel.SearchTerm))
{
    <div class="govuk-width-container">
        <a href="@Model.BackLink" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Funding for non-levy employers</h1>
                    <h2 class="govuk-heading-m">None of your employers have any funding to use.</h2>
                    <p class="govuk-body">You need to reserve funding in order to add a new apprentice.</p>
                    <a asp-route="@RouteNames.ProviderIndex" asp-route-isFromManage="true" role="button" tabindex="1" draggable="false" class="govuk-button">Reserve funding</a>
                </div>
            </div>
        </main>
    </div>
}
else
{
    <div class="govuk-width-container">
        <a href="@Model.BackLink" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Funding for non-levy employers</h1>
                    <p class="govuk-body">This feature is currently only available to employers and training providers taking part in testing.</p>
                    <p class="govuk-heading-m"><a asp-route="@RouteNames.ProviderIndex" asp-route-isFromManage="true" tabindex="1" class="govuk-link">Reserve more funding</a></p>
                    <form method="get" asp-route="@RouteNames.ProviderManage">
                        <div class="govuk-form-group">
                            <label for="searchTerm" class="govuk-label">Search employer name or course</label>
                            <div class="das-search-form__group">
                                <input class="govuk-input das-search-form__input" id="searchTerm" name="searchTerm" type="text" value="@Model.FilterModel.SearchTerm">
                                <div class="das-search-form__button-wrap">
                                    <button class="govuk-button das-search-form__button" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <form method="get" asp-route="@RouteNames.ProviderManage">
                        <input id="searchTerm" name="searchTerm" type="hidden" value="@Model.FilterModel.SearchTerm">
                        <div class="das-pane">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-third">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="selectedEmployer">Employer</label>
                                        <select class="govuk-select govuk-!-width-full" id="selectedEmployer" name="selectedEmployer">
                                            <option label="All" aria-label="All employers"></option>
                                            @foreach (var employer in Model.FilterModel.EmployerFilters)
                                            {
                                                if (employer == Model.FilterModel.SelectedEmployer)
                                                {
                                                    <option label="@employer" selected="selected">@employer</option>
                                                }
                                                else
                                                {
                                                    <option label="@employer">@employer</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="govuk-grid-column-one-third">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="selectedCourse">Apprenticeship training course</label>
                                        <select class="govuk-select govuk-!-width-full" id="selectedCourse" name="selectedCourse">
                                            <option label="All" aria-label="All courses"></option>
                                            @foreach (var course in Model.FilterModel.CourseFilters)
                                            {
                                                if (course == Model.FilterModel.SelectedCourse)
                                                {
                                                    <option label="@course" selected="selected">@course</option>
                                                }
                                                else
                                                {
                                                    <option label="@course">@course</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="govuk-grid-column-one-third">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="selectedStartDate">Start date</label>
                                        <select class="govuk-select govuk-!-width-full" id="selectedStartDate" name="selectedStartDate">
                                            <option label="All" aria-label="All start dates"></option>
                                            @foreach (var startDate in Model.FilterModel.StartDateFilters)
                                            {
                                                if (startDate == Model.FilterModel.SelectedStartDate)
                                                {
                                                    <option label="@startDate" selected="selected">@startDate</option>
                                                }
                                                else
                                                {
                                                    <option label="@startDate">@startDate</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button class="govuk-button govuk-!-margin-0" type="submit">Apply filters</button>
                        </div>
                    </form>
                    @if (Model.FilterModel.ShowClearLink)
                    {
                        <p class="govuk-body"><a  class="govuk-link" asp-route="@RouteNames.ProviderManage">Clear search and filters</a></p>
                    }
                    @if (!string.IsNullOrEmpty(Model.FilterModel.SearchTerm))
                    {
                        <p class="govuk-body">@Model.FilterModel.NumberOfRecordsFound reservation@(Model.FilterModel.NumberOfRecordsFound != 1 ? "s" : null) matching <strong>'@Model.FilterModel.SearchTerm'</strong></p>
                    }
                    else
                    {
                        <p class="govuk-body">@Model.FilterModel.NumberOfRecordsFound reservation@(Model.FilterModel.NumberOfRecordsFound != 1 ? "s" : null)</p>
                    }

                </div>
            </div>
            @if (Model.Reservations.Count != 0)
            {
                <table class="govuk-table das-table--responsive">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row" data-position="top">
                            <th class="govuk-table__header" scope="col">Employer</th>
                            <th class="govuk-table__header" scope="col">Apprenticeship training</th>
                            <th class="govuk-table__header" scope="col">Apprenticeship start date</th>
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                        </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                        @foreach (var reservation in Model.Reservations)
                        {
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" data-label="Employer" scope="row">
                                    @reservation.LegalEntityName
                                    <br />
                                    @if (!reservation.IsExpired && reservation.Status != ReservationStatusViewModel.Pending)
                                    {
                                        <strong class="govuk-tag govuk-tag--inactive">used</strong>
                                    }
                                </th>
                                <td class="govuk-table__cell" data-label="Apprenticeship training course">@reservation.CourseName</td>
                                <td class="govuk-table__cell no-wrap" data-label="Start date">
                                    <span class="das-no-wrap">
                                        @reservation.TrainingDate.GetGDSDateString()
                                    </span><br />

                                    @if (reservation.IsExpired)
                                    {
                                        <strong class="govuk-tag govuk-tag--inactive">expired</strong>
                                    }
                                </td>
                                @if (!reservation.IsExpired && reservation.Status == ReservationStatusViewModel.Pending)
                                {
                                    <td class="govuk-table__cell">
                                        <span class="das-no-wrap">
                                            <a href="@reservation.ApprenticeUrl" class="govuk-link">Add apprentice</a>
                                        </span>
                                    </td>
                                    <td class="govuk-table__cell">
                                        @if (reservation.CanProviderDeleteReservation)
                                        {
                                            <a asp-route="@reservation.DeleteRouteName" asp-route-id="@reservation.Id" class="govuk-link">Delete</a>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td colspan="2" />
                                }
                            </tr>
                        }
                    </tbody>

                </table>
            }
            <nav role="navigation" aria-label="Pagination">
                <div class="das-pagination__summary">Showing @Model.FilterModel.PagedRecordsFrom - @Model.FilterModel.PagedRecordsTo of @Model.FilterModel.NumberOfRecordsFound result@(Model.FilterModel.NumberOfRecordsFound != 1 ? "s" : null)</div>
                <ul class="das-pagination">
                    @foreach (var pageLink in Model.FilterModel.PageLinks)
                    {
                        <li class="das-pagination__item">
                            <a class="das-pagination__link @(pageLink.IsCurrent.HasValue && pageLink.IsCurrent.Value ? "current":"")" 
                               asp-route="@RouteNames.ProviderManage"
                               asp-all-route-data="@pageLink.RouteData"
                               aria-current="@pageLink.IsCurrent" 
                               aria-label="@pageLink.AriaLabel">
                                @pageLink.Label
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </main>
    </div>

}

