@model ChooseEmployerViewModel


<h1 class="govuk-heading-xl">Choose an employer</h1>
<p class="govuk-body-l">This is the employer you are creating a cohort on the behalf of.</p>

<p class="govuk-body-l">@Model.Employers.Count() results found.</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Employer</th>
        <th class="govuk-table__header" scope="col">Account name</th>
        <th class="govuk-table__header" scope="col" colspan="2">Agreement ID</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
        
    @foreach (var employer in Model.Employers)
    {
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">@employer.AccountLegalEntityName</th>
            <td class="govuk-table__cell">@employer.AccountName</td>
            <td class="govuk-table__cell">12456</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
                <form method="post" action="confirmEmployer">
                    <input type="hidden" name="AccountId" value="@employer.AccountId" />
                    <input type="hidden" name="AccountPublicHashedId" value="@employer.AccountPublicHashedId" />
                    <input type="hidden" name="AccountName" value="@employer.AccountName" />
                    <input type="hidden" name="AccountLegalEntityId" value="@employer.AccountLegalEntityId" />
                    <input type="hidden" name="AccountLegalEntityPublicHashedId" value="@employer.AccountLegalEntityPublicHashedId" />
                    <input type="hidden" name="AccountLegalEntityName" value="@employer.AccountLegalEntityName" />
                    <button type="submit" class="govuk-button">Select <span class="govuk-visually-hidden">@employer.AccountLegalEntityName</span></button>
                </form>
            </td>
        </tr>
    }

    </tbody>
</table>