@model ConfirmEmployerViewModel
@{
    ViewBag.Title = "Confirm the employer you’ll be reserving funding for";

    ViewBag.GaData.Vpv = "/reservations/confirm-employer";
}

<a id="back-link" class="govuk-back-link" href="@Url.RouteUrl(RouteNames.ProviderChooseEmployer, new { Model.UkPrn })">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="_pageErrorsOverview"/>

            <h1 class="govuk-heading-xl">Confirm employer</h1>

            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">@Model.AccountLegalEntityName</h2>

            <dl class="das-definition-list das-definition-list--inline das-definition-list--muted govuk-!-font-size-24">

                <dt class="das-definition-list__title">Account name</dt>
                <dd class="das-definition-list__definition">@Model.AccountName</dd>

                <dt class="das-definition-list__title">Agreement ID</dt>
                <dd class="das-definition-list__definition">@Model.AccountLegalEntityPublicHashedId</dd>

            </dl>

            <form asp-route="@RouteNames.ProviderConfirmEmployer" method="POST">

                @Html.HiddenFor(model => model.AccountPublicHashedId)
                @Html.HiddenFor(model => model.AccountLegalEntityName)
                @Html.HiddenFor(model => model.AccountLegalEntityPublicHashedId)
                @Html.HiddenFor(model => model.AccountName)
                
                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "":"govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Are you sure you want to reserve funds for this employer?
                        </legend>
                        @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("confirm-yes"))
                        {
                            <span id="confirm-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState["confirm-yes"].Errors.First().ErrorMessage
                            </span>
                        }
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="confirm-yes" name="Confirm" type="radio" value="True" @(Model.Id.HasValue? "checked":"")>
                                <label class="govuk-label govuk-radios__label" for="confirm-yes">
                                    Yes, use @Model.AccountLegalEntityName
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="confirm-no" name="Confirm" type="radio" value="False">
                                <label class="govuk-label govuk-radios__label" for="confirm-no">
                                    No, choose a different employer
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button">Save and continue</button>
            </form>
        </div>
    </div>
</main>