@using System.Text
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ConfirmEmployerViewModel
@{
    ViewBag.Title = "Confirm Employer";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        @{
                            var errorStringBuilder = new StringBuilder();
                            var errorCount = ViewData.ModelState.ErrorCount;
                            var loopCount = 1;
                            foreach (var error in ViewData.ModelState)
                            {
                                if (error.Value.ValidationState == ModelValidationState.Invalid)
                                {
                                    errorStringBuilder.Append($"<li><a href=\"#{error.Key}\">Please choose an option</a></li>");
                                    if (loopCount == errorCount - 1)
                                    {
                                        errorStringBuilder.Append(" and ");
                                    }
                                    else if (loopCount != errorCount)
                                    {
                                        errorStringBuilder.Append(", ");
                                    }

                                    loopCount++;
                                }
                            }
                        }
                        @Html.Raw(errorStringBuilder.ToString())
                    </ul>
                </div>
            </div>
        }

        <h1 class="govuk-heading-xl">Confirm employer</h1>

        <h2 class="govuk-heading-l">@Model.AccountLegalEntityName</h2>

        <dl class="das-definition-list das-definition-list--inline das-definition-list--muted govuk-!-font-size-24">

            <dt class="das-definition-list__title">Account name</dt>
            <dd class="das-definition-list__definition">@Model.AccountName</dd>

            <dt class="das-definition-list__title">Agreement ID</dt>
            <dd class="das-definition-list__definition">@Model.AccountLegalEntityPublicHashedId</dd>

        </dl>
           
        <form action="@Url.Action("ConfirmEmployer")" method="POST">

            @Html.HiddenFor(model => model.AccountLegalEntityName)
            @Html.HiddenFor(model => model.AccountLegalEntityPublicHashedId)
            @Html.HiddenFor(model => model.AccountName)
            @Html.HiddenFor(model => model.AccountId)

            <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "":"govuk-form-group--error")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      Is this the employer you would like to create a cohort for?
                    </legend>
                    @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("confirm-yes"))
                    {
                        <span id="confirm-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Please choose an option
                        </span>
                    }
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="confirm-yes" name="Confirm" type="radio" value="True">
                            <label class="govuk-label govuk-radios__label" for="confirm-yes">
                                Yes, use @Model.AccountLegalEntityName
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="confirm-no" name="Confirm" type="radio" value="False">
                            <label class="govuk-label govuk-radios__label" for="confirm-no">
                                No, choose a different employer
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>
